body {
    background-color:#a5e1ad;
    font-family: Arial, Helvetica, sans-serif;
       
}
hr {
    border-color:#4ca1a3;
    border-style:none;
    border-top-style: dotted;
    border-width: 5px; 
    width: 10%;
    
}
h1 {
    color: #21094e
}
h3 {
    color: #21094e
}
