body {
    background-color:#dddddd;
    font-family: Arial, Helvetica, sans-serif;
       
}
hr {
    border-color:#3c8dad;
    border-style:none;
    border-top-style: dotted;
    border-width: 5px; 
    width: 10%;
    
}
h1 {
    color: #0a1d37
}
h3 {
    color: #0a1d37
}
